@use 'base/variables' as v;

.alerta {
    padding: .5rem;
    text-align: center;
    color: v.$blanco;
    text-transform: uppercase;
    font-weight: v.$bold;
    margin: 1rem 0;
    border-radius: .5rem;

    &.error {
        background-color: v.$rojo;
    }

    &.exito {
        background-color: rgb(117, 0, 128);
    }

    &.updated {
        background-color: #f0b607;
    }

    &.deleted {
        background-color: rgb(238, 72, 12)
    }
}

table.propiedades, 
table.vendedores {
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead {
        background-color: rgb(71, 129, 236);

        th {
            color: v.$blanco;
            padding: 1rem;
            font-size: 1.8rem;
            text-transform: uppercase;;
        }
    }

    tbody {
        td {
            font-size: 1.6rem;
            font-weight: bold;
            text-transform: uppercase;
        }

        .size {
            font-size: 1.8rem;
        }
    }

    .imagen-tabla {
        width: 13rem;
        display: block;
        margin: 0 auto;
    }
}

.picture-small {
    width: 30rem;
    margin-bottom: 1.5rem;
}